@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");

* {
  margin: 0.5rem;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: hsl(0, 0%, 7%);
  color: white;
}

span {
  font-weight: bold;
}

.heading,
nav,
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.heading div {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

li {
  margin: 0 0.2rem;
  cursor: pointer;
}

.text-area {
  margin: 2rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

textarea {
  inline-size: -webkit-fill-available;
  height: 40dvh;
  background-color: black;
  padding: 2rem;
  color: white;
  font: inherit;
  position: absolute;
  margin: 0 7rem;
  filter:blur(2px)

}

.text-area div {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 4rem;
  z-index: 2;
}

.text-area button {
  padding: 0.8rem 1rem;
  border-radius: 5px;
  background-color: hsl(214, 100%, 55%);
  color: white;
  outline: none;
  font: inherit;
}

.levels,
.modes {
  padding: 0.3rem 0.4rem;
  border: 1px solid hsl(240, 1%, 59%);
  border-radius: 5px;
}

.selected {
  border-color: hsl(210, 100%, 65%);
  color: hsl(210, 100%, 65%);
}

.hidden {
  display: none ;
}

.reference-text {
  position: absolute;
  top: 42.29%;
  padding: 0 9.55rem;
}
